/* 공통 Cards 스타일 */
.cards__container {
  display: flex;
  flex-flow: column;
  align-items: center;
 width: 100%; 
  margin: 0 auto;
  padding: auto;
}

.cards__wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap; /* 기본: 줄바꿈 허용 */
  gap: 15px;
  justify-content: center;
  padding: 3rem;
}

.cards__items {
  margin-bottom: 10px;
  flex-wrap: wrap;
  padding-left: 0;
  margin: 0;
}

@media only screen and (min-width: 500px) {
  .cards__items {
    display: flex;
  }
}

@media only screen and (max-width: 500px) {
  .cards__wrapper {
    justify-content: space-around;
  }
}

@media only screen and (max-width: 768px) {
  .cards__wrapper {
    justify-content: center;
    gap: 7px;
  }
}

/* 슬라이드 모드 추가 */
.cards--no-wrap {
  margin-left: 0; /* 기본 값으로 초기화 */
  padding-left: 0; /* 기본 값으로 초기화 */
  justify-content: flex-start;
  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  width: 80%;
}

.cards--no-wrap .cards__items {
  flex: 0 0 auto;
  padding-left: 5%;
}