.cards__item {
  display: flex;
  width: 200px; /* 카드 크기를 고정 */
  margin: 0 16px 32px; /* 카드 간격 */
  border-radius: 10px;
  height: 300px;
  
}

.cards__item__link {
  display: flex;
  flex-direction: column; /* 세로로 배치 */
  flex-flow: column;
  border-style:solid;
  border-width:1px;
  width: 100%;
  border-color: #fff;
  box-shadow: 0 0px 5px #A53737;
  -webkit-filter: drop-shadow(0 0px 0px #A53737 );
  filter: drop-shadow(0 0px 3px #ffffff);
  border-radius:10px;
  overflow: hidden;
  text-decoration: column;
  text-decoration: none;
}

.cards__item__pic-wrap {
  position: relative;
  /* width: 100%; */
  height: 75%;
  overflow: hidden;
  display: flex; /* flexbox 사용 */
  justify-content: center; /* 수평 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
}
.cards__item__link.cards__item__pic-wrap{
  width: 100%;
}

.fade-img {
  animation-name: fade-img;
  animation-duration: 2s;
}

/* .cards__item__pic-wrap::after {
  content: attr(data-category);
  position: absolute;
  bottom: 0;
  margin-left: 10px;
  padding: 6px 8px;
  max-width: calc((100%) - 60px);
  font-size: 12px;
  font-weight: 700;
  color: #ffffff ;
  background-color: #ffffff;
  box-sizing: border-box;
} */

.cards__item__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* 부모 요소에 맞춰 크기 조정 */
  height: 100%; /* 부모 요소에 맞춰 크기 조정 */
  object-fit: cover; /* 비율 유지하며 부모 영역을 덮음 */
  transition: all 0.2s linear;
}


.cards__item__img:hover {
  transform: scale(1.1);
}

.cards__item__info {
  display: flex;
  align-items: center; /* 수직 정렬 */
  justify-content: center; /* 수평 정렬 */
  padding: 5px;
  gap: 0.3rem;
}

.cards__item__icon {
  width: 1em; /* 텍스트 크기에 비례한 너비 */
  height: 1em; /* 텍스트 크기에 비례한 높이 */
  fill: currentColor; /* 텍스트 색상과 동일하게 설정 */
  margin-right: 8px; /* 아이콘과 텍스트 간격 */
  display: inline-block; /* inline-block으로 처리 */
}

.cards__item__text {
  color: #fff;
  font-size: 18px;
  line-height: 1.4; /* 텍스트 줄 간격 */
  
}

.cards__item__num{
  color: #fff;
  font-size: 13px;
  font-style: light;
}


@media only screen and (min-width: 1200px) {
  .content__blog__container {
    width: 84%;
  }
}


@media only screen and (max-width: 1024px) {
  .cards__item {
    margin-bottom: 2rem;
  }
}

.cards__item__img:hover {
  transform: scale(1.1); /* 마우스 오버 시 확대 효과 */
}