.Signup{
    font-family: "source-han-serif-korean", serif;
    text-align: left;

}

.Signup.div{
    margin-left: 20px;
}

.Signup.input{
    gap: 10px;
    display: grid;
    width: 200px;  
    /* align-items: center; */
}   

button{
    height: 30px;
    width: 100px;
}