.Footer {
    height: 60px;
    width: 100%;
    position: relative;
    transform: translateY();
    border-top: 1px solid;
    font-family: "source-han-serif-korean", serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #393939;
}

p {
    color: #ffffff;
    font-size: 11px;
    white-space: nowrap;
}