body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* 화면 전체 높이를 보장 */
  }
  
  main {
    flex: 1; /* 남은 공간을 채움 */
  }
  
  .Footer {
    height: 90px;
    width: 100%;
    border-top: 1px solid #ffffff;
    font-family: "source-han-serif-korean", serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #393939;
    margin-top: 50px;
  }
  
  .Footer p {
    color: #ffffff;
    font-size: 10px;
    white-space: nowrap;
    margin: 0;
  }
  