.Header {
  background-color: #393939;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  font-family: "source-han-serif-korean", serif;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 100px;
  padding: 0 2%; /* 양옆에 여백 추가 */
}

.Header img {
  width: 70%;
  height: auto;
  margin: 0 auto;
  display: block;
}

.Header .left-section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  width: 20%;
}

.Header .search-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  width: 60%; /* 오른쪽 검색창의 크기 유지 */
}

.Header input[type="text"] {
  background-color: #555;
  color: white;
  border: 1px solid #777;
  padding: 1% 2%;
  border-radius: 5px;
  font-size: 1rem;
  width: 80%;
  transition: border-color 0.3s ease;
}

.Header button.search {
  background-color: #555;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 80%;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 25%;
}

.Header button.search:hover {
  background-color: white;
  color: black;
}

.auth-link {
  font-size: small;
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.auth-link:hover {
  text-decoration: underline;
}

.bg-body-tertiary {
  background-color: transparent !important;
}

.navList {
  font-family: "source-han-serif-korean", serif;
  font-size: large;
}

.offHeader {
  font-family: "source-han-serif-korean", serif;
  font-size: larger;
}

.navList strong :hover{
  text-decoration: underline;
}
/* 제목 아래에 줄을 그을 스타일 */
.menu-divider {
  border: 1px solid black; /* 줄 색상 */
  margin: 10px 0; /* 상하 여백 */
}


