.Login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  width: 100%; /* 부모 요소 크기에 맞게 전체 너비 사용 */
  max-width: 600px; /* 최대 너비를 적당히 설정 (예: 600px) */
  padding: 5% 2%;
  margin: 0 auto;
  font-family: "source-han-serif-korean", serif;
}

.loginInfo {
  background-color: #fff;
  padding: 5%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%; /* 너비를 100%로 설정하여 부모 컨테이너에 맞게 크기 조정 */
  margin-bottom: 5%;
  max-width: 400px; /* 최대 너비를 설정해줍니다 */
}

.loginInfo label {
  display: block; /* 레이블을 블록으로 표시 */
  margin-bottom: 8px; /* 레이블과 input 사이 간격 */
  font-weight: bold;
  color: #333;
}

.loginInfo input {
  width: 100%; /* 너비를 100%로 설정하여 부모 요소 크기에 맞게 조정 */
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem; /* 더 적당한 글꼴 크기 */
  background-color: #f9f9f9;
  box-sizing: border-box;
}

.Login button {
  background-color: #5A5C5C;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  width: 40%;
  transition: background-color 0.3s ease;
  box-sizing: border-box;
}

.Login button:hover {
  background-color: #7B7D7D;
}

.socialLogin {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 400px;
  margin-top: 5%;
}

.socialLogin div {
  padding: 10px;
  background-color: #f0f0f0;
  color: #555;
  font-size: 1rem;
  border-radius: 5px;
  width: 48%;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.socialLogin div:hover {
  background-color: #ddd;
}

.Login strong {
  display: flex;
  margin-left: 8%;
}

.link {
  font-size: 0.9rem;
  color: black; 
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}
