.Login {
  font-family: "source-han-serif-korean", serif;
  text-align: left;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f2ecdf;
  width: 500px;
  padding: 5% 2%;
  margin: 0 auto;
  margin-top: 70px;
}

.loginInfo {
  background-color: #fff;
  padding: 5%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  margin-bottom: 5%;
}

.loginInfo strong {
  display: block;
}

.loginInfo input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  background-color: #f9f9f9;
  box-sizing: border-box;
}

.Login button, .signupLink {
  background-color: #A53737;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;
  box-sizing: border-box;
  margin-top: 5%;
  text-align: center;
}

.signupLink a {
  font-family: "source-han-serif-korean", serif;
  color: white;
  text-decoration: none;
}

.Login .buttonContainer {
  text-align: center;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  width: 80%; /* 버튼의 너비를 80%로 설정 */
  transition: background-color 0.3s ease;
  box-sizing: border-box;
}

.socialLogin div {
  padding: 10px;
  background-color: #f0f0f0;
  font-size: 1rem;
  border-radius: 5px;
  width: 48%;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}