.Movietimetitle {
  font-weight: bold;
  font-size: 40px;
}

.simple_text {
  margin-top: 60px;
}

.subtitle {
  font-size: 18px;
  display: flex;
  justify-content: center;
}

.graphrow {
  font-size: 20px;
  
}

.a {
  width: 950px;
  table-layout: fixed;
  border-collapse: collapse;
  position: relative;
  top: 30px;
  border: 1px solid black;
  margin: auto;
}

.a th {
  border: 1px solid black;
}

.a td {
  border: 1px solid black;
  font-size: 15px;
}