.UserUpdate {
  font-family: "source-han-serif-korean", serif;
  text-align: left;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f2ecdf;
  width: 500px;
  padding: 4% 4%;
  margin: 0 auto;
  margin-top: 10vh;
  margin-bottom: 10vh;
  font-size: 18px;
}

.UserUpdate input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  background-color: #f9f9f9;
  box-sizing: border-box;
  margin-bottom: 15px;
}

.UserUpdate input[type="password"] {
  margin-top: 5px;
}

.UserUpdate button {
  background-color: #A53737;
  color: white;
  border-color: #A53737;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  width: 100%;
  margin-top: 20px;
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
}
